.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 100%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin: 1rem;
}

.authentication Button{
  margin-bottom: 1rem;
}